@media (min-width: 600px) {
  .map {
    display: flex;
    flex-wrap: wrap;
  }

  .spread {
    width: 50%;
  }

  .flat {
    min-height: 27vw;
  }
}

@media (min-width: 1024px) {
  .ee-tables {
    display: flex;
    justify-content: stretch;
    gap: 1em;
  }

  .ee-extras {
    margin-left: 2em;
  }

  .spread {
    width: 33.33%;
  }

  .flat {
    min-height: 18vw;
  }
}

@media (min-width: 1300px) {
  .spread {
    width: 25%;
  }

  .flat {
    min-height: 15vw;
  }
}
